In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from scipy.signal import find_peaks

In [2]:
#Importing the CSV file
path = "./OHLC_data/EURUSD_20240715_20240803.csv"

OHLC_df = pd.read_csv(path)

In [3]:
OHLC_df['datetime'] = pd.to_datetime(OHLC_df['date'].astype('str') + ' ' + OHLC_df['time'].astype('str'), format='%d/%m/%Y %H:%M')

In [4]:
OHLC_df.drop(["date","time"], axis=1)

          open     high      low    close            datetime
0      1.08860  1.08860  1.08842  1.08842 2024-07-15 00:00:00
1      1.08842  1.08845  1.08841  1.08841 2024-07-15 00:01:00
2      1.08841  1.08841  1.08841  1.08841 2024-07-15 00:02:00
3      1.08840  1.08853  1.08818  1.08827 2024-07-15 00:03:00
4      1.08827  1.08830  1.08818  1.08821 2024-07-15 00:04:00
...        ...      ...      ...      ...                 ...
21109  1.08958  1.08969  1.08943  1.08952 2024-08-02 15:56:00
21110  1.08950  1.08950  1.08884  1.08888 2024-08-02 15:57:00
21111  1.08888  1.08902  1.08878  1.08902 2024-08-02 15:58:00
21112  1.08902  1.08918  1.08886  1.08912 2024-08-02 15:59:00
21113  1.08904  1.08904  1.08856  1.08864 2024-08-02 16:00:00

[21114 rows x 5 columns]

In [5]:
OHLC_df = OHLC_df.reindex(labels=["datetime","open","high","low","close"], axis=1)

In [6]:
#obtaining the data in NY session during JULY 31
start_dt="2024-07-31 15:00:00"
end_dt="2024-07-31 19:00:00"

eurusd_20240730_NY = OHLC_df[(OHLC_df['datetime'] >= start_dt) & (OHLC_df['datetime'] <= end_dt)]

#OBTAINING THE HIGHEST POINT DURING THE NY SESSION
p3y = eurusd_20240730_NY['high'].max()

#OBTAINING THE INDEX OF THE HIGHEST POINT
p3i = (eurusd_20240730_NY[eurusd_20240730_NY['high']== p3y])

#obtaining the OHLC data of P3
p3 = p3i.iloc[[-1]]

#converting the datatype of the datetime column
eurusd_20240730_NY.loc[:,'datetime'] = pd.to_datetime(eurusd_20240730_NY["datetime"])

#obtaining the data within the time limit 4 to 45 mins before P3
p1x_range_1 = p3["datetime"].iloc[0] - timedelta(minutes = 45)
p1x_range_2 = p3["datetime"].iloc[0] - timedelta(minutes = 4)
mask1= eurusd_20240730_NY["datetime"].ge(p1x_range_1) & eurusd_20240730_NY["datetime"].le(p1x_range_2)
p1_range = eurusd_20240730_NY[mask1].reset_index(drop=True)

In [103]:


# Find the index of local maximas
local_maximas_i,_ = find_peaks(p1_range['high'].values)
local_maximas_i = np.array(local_maximas_i)

# Find the index of the local minima by inverting the data
local_minimas_i,_ = find_peaks(-p1_range['low'].values)
local_minimas_i = np.array(local_minimas_i)

#Obtaining the dataframe of the local minimas and local maximas
p1_range_localminimas = p1_range[p1_range.index.isin(local_minimas_i)].reset_index(drop=True)
p1_range_localmaximas = p1_range[p1_range.index.isin(local_maximas_i)].reset_index(drop=True)

In [109]:
local_maximas_i

array([ 1,  4,  9, 12, 14, 21, 23, 28, 32])

In [111]:
local_minimas_i

array([ 2,  6, 11, 15, 23, 26, 30, 35, 40])

In [113]:
p1_range

              datetime     open     high      low    close
0  2024-07-31 15:51:00  1.08414  1.08418  1.08409  1.08414
1  2024-07-31 15:52:00  1.08414  1.08425  1.08412  1.08414
2  2024-07-31 15:53:00  1.08415  1.08415  1.08390  1.08399
3  2024-07-31 15:54:00  1.08399  1.08412  1.08397  1.08409
4  2024-07-31 15:55:00  1.08408  1.08416  1.08403  1.08409
5  2024-07-31 15:56:00  1.08408  1.08409  1.08374  1.08380
6  2024-07-31 15:57:00  1.08379  1.08381  1.08368  1.08380
7  2024-07-31 15:58:00  1.08380  1.08395  1.08377  1.08394
8  2024-07-31 15:59:00  1.08394  1.08411  1.08392  1.08409
9  2024-07-31 16:00:00  1.08408  1.08425  1.08408  1.08417
10 2024-07-31 16:01:00  1.08415  1.08417  1.08396  1.08397
11 2024-07-31 16:02:00  1.08397  1.08397  1.08386  1.08393
12 2024-07-31 16:03:00  1.08394  1.08412  1.08394  1.08397
13 2024-07-31 16:04:00  1.08399  1.08401  1.08396  1.08401
14 2024-07-31 16:05:00  1.08400  1.08404  1.08391  1.08401
15 2024-07-31 16:06:00  1.08402  1.08402  1.08386  1.08394
16 2024-07-31 16:07:00  1.08395  1.08421  1.08394  1.08421
17 2024-07-31 16:08:00  1.08419  1.08429  1.08403  1.08406
18 2024-07-31 16:09:00  1.08407  1.08440  1.08406  1.08436
19 2024-07-31 16:10:00  1.08436  1.08446  1.08435  1.08442
20 2024-07-31 16:11:00  1.08442  1.08451  1.08439  1.08445
21 2024-07-31 16:12:00  1.08446  1.08453  1.08441  1.08442
22 2024-07-31 16:13:00  1.08443  1.08446  1.08435  1.08437
23 2024-07-31 16:14:00  1.08437  1.08447  1.08426  1.08431
24 2024-07-31 16:15:00  1.08432  1.08442  1.08428  1.08440
25 2024-07-31 16:16:00  1.08439  1.08440  1.08426  1.08437
26 2024-07-31 16:17:00  1.08437  1.08437  1.08425  1.08430
27 2024-07-31 16:18:00  1.08430  1.08455  1.08430  1.08452
28 2024-07-31 16:19:00  1.08453  1.08456  1.08446  1.08454
29 2024-07-31 16:20:00  1.08454  1.08455  1.08440  1.08449
30 2024-07-31 16:21:00  1.08449  1.08454  1.08436  1.08442
31 2024-07-31 16:22:00  1.08442  1.08463  1.08442  1.08461
32 2024-07-31 16:23:00  1.08459  1.08464  1.08451  1.08456
33 2024-07-31 16:24:00  1.08456  1.08456  1.08435  1.08435
34 2024-07-31 16:25:00  1.08436  1.08440  1.08413  1.08415
35 2024-07-31 16:26:00  1.08415  1.08422  1.08412  1.08420
36 2024-07-31 16:27:00  1.08421  1.08425  1.08417  1.08424
37 2024-07-31 16:28:00  1.08423  1.08441  1.08422  1.08441
38 2024-07-31 16:29:00  1.08441  1.08460  1.08437  1.08460
39 2024-07-31 16:30:00  1.08460  1.08472  1.08458  1.08460
40 2024-07-31 16:31:00  1.08461  1.08478  1.08456  1.08477
41 2024-07-31 16:32:00  1.08476  1.08478  1.08467  1.08468

In [38]:
#Finding the value of Pay1
Pay1 = p1_range_localminimas["low"].min()

#Finding the index of the first local minima
Pay1_index = p1_range_localminimas[p1_range_localminimas['low'] == Pay1].index.min()


#Dropping the minimas before the first local minimas
mask = p1_range_localminimas.index >= Pay1_index
p1_range_localminimas = p1_range_localminimas[mask].reset_index(drop=True)
p1_range_localminimas
#Finding the index of the first local minima
Pay1_index = p1_range_localminimas[p1_range_localminimas['low'] == Pay1].index.min()

In [57]:
#to find the y value of the possible 2nd local minima:
Pay3 = p1_range_localminimas.iloc[1:,3].min()
Pay3_index = p1_range_localminimas[p1_range_localminimas['low'] == Pay3].index[-1]
Pay3_index

2

In [59]:
#finding the index of the 1st local maxima
condition1 = p1_range_localmaximas["datetime"].gt(p1_range_localminimas.iloc[Pay1_index,0])
condition2 = p1_range_localmaximas["datetime"].lt(p1_range_localminimas.iloc[Pay3_index,0])
condition = condition1 & condition2

#Test value
#condition = pd.Series([False] * 7)


while True:
    try:
        #to find the y value of the 1st local maxima:
        Pay2 = p1_range_localmaximas[condition == True]['high'].values
        if len(Pay2) == 0:
            #proceed with the next pay3 index and rerun the while loop
            Pay3_index += 1
            print(Pay3_index)
            Pay3 = p1_range_localminimas.iloc[Pay3_index,3].item()
            continue
        else:
            Pay2=Pay2.max()
            break
    except IndexError as err1:
        break

In [63]:
print(Pay1)
print(Pay2)
print(Pay3)

#1.08368
#1.08425
#1.08386

1.08368
1.08411
1.08386

In [69]:
p1_range_localmaximas

             datetime     open     high      low    close
0 2024-07-31 15:54:00  1.08399  1.08412  1.08397  1.08409
1 2024-07-31 15:56:00  1.08408  1.08409  1.08374  1.08380
2 2024-07-31 15:59:00  1.08394  1.08411  1.08392  1.08409
3 2024-07-31 16:07:00  1.08395  1.08421  1.08394  1.08421
4 2024-07-31 16:13:00  1.08443  1.08446  1.08435  1.08437
5 2024-07-31 16:21:00  1.08449  1.08454  1.08436  1.08442
6 2024-07-31 16:23:00  1.08459  1.08464  1.08451  1.08456
7 2024-07-31 16:25:00  1.08436  1.08440  1.08413  1.08415

In [72]:
p1_range_localminimas

             datetime     open     high      low    close
0 2024-07-31 15:57:00  1.08379  1.08381  1.08368  1.08380
1 2024-07-31 16:02:00  1.08397  1.08397  1.08386  1.08393
2 2024-07-31 16:06:00  1.08402  1.08402  1.08386  1.08394
3 2024-07-31 16:09:00  1.08407  1.08440  1.08406  1.08436
4 2024-07-31 16:15:00  1.08432  1.08442  1.08428  1.08440
5 2024-07-31 16:21:00  1.08449  1.08454  1.08436  1.08442
6 2024-07-31 16:32:00  1.08476  1.08478  1.08467  1.08468