In [9]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [10]:
if not mt5.initialize(login=89500879, server="MetaQuotes-Demo", password="6kF-FhYd"):
    print("Initialization failed")
    print(mt5.last_error())
    quit()

print("Connected to MT5 successfully")

Connected to MT5 successfully

In [17]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = "GBPJPY"
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2025, 1, 26)
utc_to = datetime(2025, 2, 2)

In [18]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [19]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                    time     open     high      low    close  tick_volume  \
0    2025-01-27 00:00:00  193.902  193.902  193.902  193.902            1
1    2025-01-27 00:01:00  194.020  194.599  194.020  194.108           10
2    2025-01-27 00:02:00  194.107  194.115  194.101  194.101            4
3    2025-01-27 00:03:00  194.102  194.115  194.056  194.056           11
4    2025-01-27 00:04:00  194.057  194.099  194.057  194.078           13
...                  ...      ...      ...      ...      ...          ...
7193 2025-01-31 23:55:00  192.239  192.253  192.228  192.252           57
7194 2025-01-31 23:56:00  192.250  192.263  192.215  192.215           78
7195 2025-01-31 23:57:00  192.239  192.276  192.219  192.258           66
7196 2025-01-31 23:58:00  192.258  192.295  192.254  192.269           52
7197 2025-01-31 23:59:00  192.330  192.330  192.310  192.330            5

      spread  real_volume
0        200            0
1        173            0
2        249            0
3        256            0
4        248            0
...      ...          ...
7193      32            0
7194      39            0
7195      50            0
7196      62            0
7197     120            0

[7198 rows x 8 columns]

In [20]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [21]:
rates_frame.tail(40)

                    time     open     high      low    close
7158 2025-01-31 23:20:00  192.181  192.265  192.167  192.258
7159 2025-01-31 23:21:00  192.267  192.309  192.261  192.282
7160 2025-01-31 23:22:00  192.281  192.291  192.245  192.269
7161 2025-01-31 23:23:00  192.264  192.311  192.251  192.310
7162 2025-01-31 23:24:00  192.308  192.339  192.283  192.328
7163 2025-01-31 23:25:00  192.328  192.356  192.313  192.313
7164 2025-01-31 23:26:00  192.320  192.332  192.308  192.318
7165 2025-01-31 23:27:00  192.322  192.358  192.311  192.344
7166 2025-01-31 23:28:00  192.343  192.366  192.322  192.363
7167 2025-01-31 23:29:00  192.365  192.375  192.347  192.358
7168 2025-01-31 23:30:00  192.343  192.375  192.314  192.366
7169 2025-01-31 23:31:00  192.367  192.399  192.309  192.337
7170 2025-01-31 23:32:00  192.344  192.345  192.293  192.328
7171 2025-01-31 23:33:00  192.327  192.337  192.271  192.274
7172 2025-01-31 23:34:00  192.271  192.311  192.270  192.287
7173 2025-01-31 23:35:00  192.287  192.287  192.259  192.286
7174 2025-01-31 23:36:00  192.284  192.287  192.254  192.284
7175 2025-01-31 23:37:00  192.283  192.284  192.248  192.252
7176 2025-01-31 23:38:00  192.243  192.251  192.171  192.228
7177 2025-01-31 23:39:00  192.228  192.267  192.227  192.267
7178 2025-01-31 23:40:00  192.262  192.283  192.251  192.270
7179 2025-01-31 23:41:00  192.276  192.278  192.231  192.267
7180 2025-01-31 23:42:00  192.268  192.281  192.231  192.281
7181 2025-01-31 23:43:00  192.281  192.295  192.254  192.295
7182 2025-01-31 23:44:00  192.294  192.308  192.272  192.278
7183 2025-01-31 23:45:00  192.286  192.295  192.273  192.295
7184 2025-01-31 23:46:00  192.296  192.306  192.289  192.306
7185 2025-01-31 23:47:00  192.303  192.348  192.303  192.327
7186 2025-01-31 23:48:00  192.334  192.354  192.330  192.338
7187 2025-01-31 23:49:00  192.347  192.371  192.323  192.341
7188 2025-01-31 23:50:00  192.322  192.393  192.201  192.325
7189 2025-01-31 23:51:00  192.324  192.392  192.193  192.281
7190 2025-01-31 23:52:00  192.299  192.300  192.255  192.297
7191 2025-01-31 23:53:00  192.288  192.316  192.203  192.285
7192 2025-01-31 23:54:00  192.288  192.310  192.172  192.256
7193 2025-01-31 23:55:00  192.239  192.253  192.228  192.252
7194 2025-01-31 23:56:00  192.250  192.263  192.215  192.215
7195 2025-01-31 23:57:00  192.239  192.276  192.219  192.258
7196 2025-01-31 23:58:00  192.258  192.295  192.254  192.269
7197 2025-01-31 23:59:00  192.330  192.330  192.310  192.330

In [22]:
rates_frame.to_csv(f'./OHLC_data/{symbol}_{startdate}_{enddate}.csv', index=False)